<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="responsiveness.Web.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <!DOCTYPE html>
    <meta charset="utf-8">

    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <!-- Load d3.js -->
    <script src="https://d3js.org/d3.v6.js"></script>
    <script src="scripts/site.js"></script>
</body>

</html>
