@using responsiveness.Components.Models
@rendermode InteractiveServer

<section class="chart-left">
    <div id="@(Settings?.ElementId ?? "")"></div>
</section>

@inject IJSRuntime JsRuntime

@code {
    [Parameter]
    public LinePlotSettings? Settings { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && Settings is not null && Settings.Data.Any() && Settings.Data[0].Any())
        {
            await JsRuntime.InvokeVoidAsync("SiteFunctions.GenerateLinePlot", Settings);
        }
    }
}