@using responsiveness.Components.Models
@rendermode InteractiveServer
<h3>@(Settings?.Title ?? "")</h3>

<div id="@(Settings?.ElementId ?? "")"></div>

@inject IJSRuntime JsRuntime

@code {
    [Parameter]
    public LinePlotSettings? Settings { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (Settings is not null)
        {
            await JsRuntime.InvokeVoidAsync("SiteFunctions.GenerateLinePlot", Settings);
        }
    }
}