@using responsiveness.Components.Models
@rendermode InteractiveServer

<div class="@(Settings?.HtmlClass ?? "")">
    <h4>@(Settings?.Title ?? "")</h4>
    <div id="@(Settings?.ElementId ?? "")"></div>
</div>

@inject IJSRuntime JsRuntime

@code {
    [Parameter]
    public PieSettings? Settings { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && Settings is not null)
        {
            await JsRuntime.InvokeVoidAsync("SiteFunctions.GeneratePie", Settings);
        }
    }
}