@page "/top"
@using responsiveness.CommonServices
@using responsiveness.Models
@rendermode InteractiveServer
@inject UriMonitoringModel Model

<PageTitle>Top</PageTitle>

<h3>Top 10 of monitored URLs</h3>

<hr/>

<div class="container">
<table class="table">
    <thead>
    <tr>
        <th>Uri</th>
        <th>Response time (median), ms</th>
        <th>Total errors</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.GetProcesses()
                  .Select(x => new
                  {
                      x.Uri,
                      Median = x.Measurements
                          .LastOrDefault()
                          ?.MetricsList
                          ?.FirstOrDefault(m => m.Stage == HttpRequestStage.TotalRequest)
                          ?.Median 
                               ?? double.PositiveInfinity,
                      x.TotalErrorCount,
                  })
                  .OrderBy(x => x.Median)
                  .ThenByDescending(x => x.TotalErrorCount)
                  .Take(10))
    {
    <tr>
        <td>@item.Uri.ToString()</td>
        <td>@item.Median</td>
        <td>@item.TotalErrorCount</td>
    </tr>
    }
    </tbody>
</table>
</div>

@code {
}
