@page "/uri/{encodedUri}"
@rendermode InteractiveServer
@using System.Net
@using responsiveness.CommonServices
@using responsiveness.Components.Models
@using responsiveness.Models
@inject UriMonitoringModel Model

<PageTitle>URL statistics</PageTitle>

<h2>@DecodeUri(EncodedUri!)</h2>
<hr/>

<LinePlot Settings="@_responseTimeSettings"></LinePlot>
<LinePlot Settings="@_errorsSettings"></LinePlot>

@code {
    [Parameter]
    public string? EncodedUri { get; set; }

    private static Uri DecodeUri(string encodedUri) => new(WebUtility.UrlDecode(encodedUri));

    private readonly LinePlotSettings _responseTimeSettings = new()
    {
        ElementId = "responseTime",
        Title = "URL response time",
        Width = 600,
        Height = 350,
    };

    private readonly LinePlotSettings _errorsSettings = new()
    {
        ElementId = "errors",
        Title = "URL errors total count",
        Width = 600,
        Height = 350,
    };
    
    private readonly PieSettings _pieSettings = new()
    {
        ElementId = "pie",
        Title = "URL errors total count",
        Width = 600,
        Height = 350,
    };

    protected override void OnInitialized()
    {
        var uri = DecodeUri(EncodedUri!);
        var data = Model[uri];
        _responseTimeSettings.Data.AddRange(GetResponseTimePlotData(data));
        _errorsSettings.Data.AddRange(GetErrorsPlotData(data));
        
        // _pieSettings.Data.Clear();
        // _pieSettings.Data.
    }

    private IEnumerable<LinePlotData> GetResponseTimePlotData(UriMonitoringProcess process)
    {
        foreach (var measurement in process.Measurements)
        {
            var time = (measurement.Timestamp - Model.StartTime).TotalMilliseconds / 1_000;
            var metrics = measurement.MetricsList.FirstOrDefault(m => m.Stage == HttpRequestStage.TotalRequest);
            if (metrics is null) continue;
            
            yield return new LinePlotData { MetricName = "Mean", N = metrics.Mean, Timestamp = time };
            yield return new LinePlotData { MetricName = "StdDev", N = metrics.StdDev, Timestamp = time };
            yield return new LinePlotData { MetricName = "Median", N = metrics.Median, Timestamp = time };
        }
    }

    private IEnumerable<LinePlotData> GetErrorsPlotData(UriMonitoringProcess monitoring)
    {
        var counter = 0;
        foreach (var errorTime in monitoring.Errors)
        {
            var time = (errorTime - Model.StartTime).TotalMilliseconds / 1_000;
            yield return new LinePlotData { MetricName = "Error", N = ++counter, Timestamp = time };
        }
    }
    
    // private IEnumerable<> GetPieData(UriMonitoringItem monitoring)
    // {
    //     var counter = 0;
    //     foreach (var errorTime in monitoring.Errors)
    //     {
    //         var time = (errorTime - Model.StartTime).TotalMilliseconds / 1_000;
    //         yield return new LinePlotData { MetricName = "Error", N = ++counter, Timestamp = time };
    //     }
    // }
}
